.houseCard {
    width: 20rem;
    float: right;
    height: 100vh;
    text-align: center;
    margin: 10 10 10 10;
    
  }
  
  .houseCard-title {
    margin-top: 15rem;
    margin-bottom: 0.75rem;
  }
  
  h5 .houseCard-titleh {
    font-size: 2rem;
    color: white;
  }
  
  p .houseCard-text {
    font-size: 2rem;
    color: white;
  }